.theme-container {
  .demo-code-block {
    padding: 20px;
    border: 1px solid #e7e7e7;
  }

  .demo-and-code-wrapper .code-control {
    font-size: inherit;
  }

  #demo {
    display: flex;
    align-items: center;
  }

  #related-links {
    + ul {
      font-size: 14px;
    }
  }
}