.theme-container {
  .demo-code-block {
    padding: 20px;
    border: 1px solid #e7e7e7;
  }

  .demo-and-code-wrapper .code-control {
    font-size: inherit;
  }

  h1 {
    padding-bottom: 16px;
  }

  h2 {
    border: 0;
    padding-bottom: 0;
  }

  #demo {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  #related-links {
    + ul {
      font-size: 14px;
    }
  }
}