.theme-container {
  h1 {
    padding-bottom: 16px;
  }

  h2 {
    border: 0;
    padding-bottom: 0;
  }

  code {
    white-space : pre-wrap;
  }

  .theme-default-content:not(.custom) {
    min-height: calc(100vh - 128px);

    & > h1:first-child + p {
      margin-top: 1px;
    }
  }

  @media (max-width: 719px) {
    .page {
      padding-bottom: 0.5rem;
    }
  }
}